@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,200&display=swap");
* {
    box-sixing: border-box;
}
body {
    font-size: 100%;
    background-image: url("bgimage.png");
    background-size: cover;
	margin: 0 auto !important; 
	float: none !important; 
}
header {
    display: inline;
    font-size: 1em; 
    border:0;
    width:100%;
    background-color:  rgb(251, 229, 233);
  }
.column {
    float: left;
    width: 45%;
    padding-left: 1em;
    padding-left: 1em;
    margin-top: 1em;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column p, ul{

    font-family: 'Fraunces', serif;
    font-size: 1em;
    padding-right: 1em;
    color: rgb(0, 0, 0);
    font-weight: 200;
    margin-top: .5em;

}


.progresslist{
    list-style: none;
    padding: 0;
    padding-top: 1em;
}
.progresslist li, p{
    margin-bottom: .75em;
    margin-top: 2em;
    font-size: 1em;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: rgb(104, 109, 109);

}
 
h1{
    font-family: 'Fraunces', serif;
    font-size: 10em;
    text-align: center;
    color: azure;
    font-weight: 700;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Fraunces', serif;
    font-size: 2em;
    color: rgb(43, 44, 44);
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    text-align: center;
}

.homepage {
    font-family: 'Alegreya', serif;
    color:azure;
    text-align: center;
    font-size: 1.4em;
}
/* using html semantic elements */
nav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    padding: 1em;
}

/* ul is for unordered lists, Buttons instead of ugly links*/
nav ul {
    list-style-type: none;
    margin: 0;
     /*nav bar follows as you scroll */
}

nav li{
    float: left;
}

.Navbar__Items {
  display: flex;
}

nav a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-right: .5em;
    font-family: 'Playfair Display', serif;
 
}

.Navbar__Link-toggle {
	display: none;
}
nav a.active {
    background-color: rgba(176,196,222, 0.8);
    color: rgb(0, 0, 0);
   
  
}
nav a:hover:not(.active) {
    background-color: rgb(255,250,240);
    color: black;
 
}


section::after{
    content: "";
    display: table;
    clear: both;
}


.background1{
    background-color: rgba(255,182,193, 0.65);
}

section a{
    color:rgb(106, 111, 113);
    opacity: 0.85;
}

/* responsive layout for different browsers */
@media screen and (max-width: 600px) {
  .column, .hpleftcolumn, .hprightcolumn {
    width: 100%;
  }
.socials li{
	display: inline;
	}
}

@media only screen and (max-width: 768px) {
    nav, .Navbar__Items {
      flex-direction: column;
    }
     .Navbar__Items {
	    display: none;
	}
	
    .Navbar__ToggleShow {
	    display: flex;
	}
   .Navbar__Link-toggle {
	    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
	   padding-bottom: .5em;
	   padding-top: 0;
	}
}
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media only screen and (min-width: 380px) {
    nav a {
      text-align: center;
      float: none;
    }
	h1{
    font-family: 'Fraunces', serif;
    font-size: 8em;
    text-align: center;
    color: azure;
    font-weight: 700;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}
  }


.bold {
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.contactstatement{
    font-family: 'Fraunces', serif;
    color: #555;
    text-align: center;
    opacity: 1.0;
    font-size: 1.0em;
    margin-top: 1em;
}
.fullsection{
    width: 100%;
    padding-bottom: 3em;
    
}

.fullsection p, li{
    font-family: 'Fraunces', serif;
    font-size: 1.2em;
    margin-left: 2em;
    padding-right: 1em;
    color: rgb(91, 97, 97);
    margin-top: 0;
    margin-bottom: 1em;
}



.highlight{
    background-color: rgba(255,0,0, 0.5);
    border-radius: 5px;
}


.socials{
    list-style: none;
    margin: auto;
    width:100%;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    padding-left: .5em;

    }

.socials li{
    padding-left: .5em;
   padding-bottom: 1em;
}

.meter { 
    height: .6em;  
    position: relative;
    background: rgba(172, 176, 176, 0.734);
    border-radius: 2em;
    padding: .3em;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    width: 50%;
  }

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
    );
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(107, 103, 103, 0.4);
    position: relative;
    overflow: hidden;
  }
.meter > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span::after {
    display: none;
    }
@keyframes move {
    0% {
    background-position: 0 0;
    }
    100% {
    background-position: 50px 50px;
    }
      }
.meter > span::after, .animate > span > span {
    animation: move 2s linear infinite;
    }

.pink > span {
        background-color: #b4f4f6;
        background-color: #cbeeef;
        background-image: linear-gradient(to bottom,  #aee3e5,  #749192);
    }
h3{
    text-align: left;
    margin-left: 1em;
    font-family: 'Fraunces', serif;
    font-size: 2em;
    color: rgb(43, 44, 44);
    padding-top: .5em;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    }



.intro {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin-left: 2em;
    padding-right: 1em;
    color: rgb(104, 109, 109);
    font-weight: 200;
    margin-top: 0;
}


.skill_list{
    list-style: none;
    margin: 0;
    padding-top: 1em;
	
}

.skill_list li{
    font-size: 1em;
    margin-top: .5em;
    margin-left: 0;
    padding-bottom: 4em;
    
}

.skill_list img{
    width: 10em;
    height: 10em;
    padding-right: 1em;
    padding-bottom: 2em;
    float: left;
    

}

/* some image filter */
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }

.skillicon {
    list-style-type: none;
    margin: 0;
    padding-top: 1em;
}
.skillicon li{
    float: left;
    margin-left: 1em;
    
}

.skillicon img{
    width: 2em;
    height: 2em;
}

.projecticon {
    list-style-type: none;
    padding-bottom: .5em;

    
}
.projecticon li{
    float: left;
    margin-left: 1em;
    
}
.projecticon img{
    width: 1em;
    height: 1em;
}


.hpleftcolumn {
    float: left;
    background-color: rgba(255, 182, 193, 0.7);
    text-align: center;
    padding-bottom: 3em;
}

.hprightcolumn {
	width: 15%;
}

h4 {
    font-family: 'Alegreya', serif;
    color:azure;
    text-align: center;
    font-size: 1.4em;
}



